___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd
import numpy as np

Вивести версію та конфігурацію бібліотеки:

In [2]:
print(pd.__version__)

1.2.4

In [3]:
pip show pandas

Name: pandas
Version: 1.2.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: c:\users\lidao\anaconda3\lib\site-packages
Requires: python-dateutil, pytz, numpy
Required-by: statsmodels, seaborn
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv('Ecommerce Purchases')

Скільки рядків і стовпців в наборі даних:

In [5]:
len(df.index)

10000

In [6]:
len(df.columns)

14

Перевірити, чи в наборі даних містяться порожні значення:

In [7]:
df.isnull()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Яка середня ціна закупки (Purchase Price):

In [8]:
df['Purchase Price'].mean()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [9]:
Eng = df['Language'] == 'en'
Lng_Eng = df[Eng]
len(Lng_Eng['Language'])

1098

Скільки людей має посаду «Lawyer»?

In [10]:
Lawyer =  df['Job'] == 'Lawyer'
Prof = df[Lawyer]
len(Prof['Job'])

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [11]:
AM =  df['AM or PM'] == 'AM'
Morning = df[AM]
len(Morning['AM or PM'])

4932

In [12]:
PM =  df['AM or PM'] == 'PM'
Evening = df[PM]
len(Evening['AM or PM'])

5068

Які 5 найпоширеніших назв вакансій?

In [13]:
df['Job'].value_counts()[0:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [14]:
Case =  df['Lot'] == "90 Wt"
dfcase = df[Case]
dfcase[['Job','Purchase Price' ]]

Empty DataFrame
Columns: [Job, Purchase Price]
Index: []

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [15]:
Card = df['Credit Card'] == 4926535242672853
dfcard = df[Card]
dfcard['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [16]:
Amexpr = df['CC Provider'] == 'American Express'
dfAmexpr = df[Amexpr]
dfAmexpr['Purchase Price'].max()

99.97

In [17]:
filter_price = dfAmexpr['Purchase Price'] > 100
len(dfAmexpr.loc[filter_price])

0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [18]:
df['year_valid'] = df['CC Exp Date'].apply(lambda x: x.split('/')[1])
Valid25 = df['year_valid'] == '25'
dfValid = df[Valid25]
len(dfValid.index)

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [19]:
df['domain'] = df['Email'].apply(lambda x: x.split('@')[1])
df['domain'].value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: domain, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [20]:
df.groupby(['Browser Info', 'Job'])['Lot'].count()

Browser Info                                                                                                                         Job
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:2.0; sl-SI) AppleWebKit/533.25.6 (KHTML, like Gecko) Version/4.0 Safari/533.25.6    Psychotherapist, dance movement          1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:4.0; en-US) AppleWebKit/535.34.7 (KHTML, like Gecko) Version/5.0 Safari/535.34.7    Retail merchandiser                      1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:5.0; sl-SI) AppleWebKit/532.10.4 (KHTML, like Gecko) Version/5.0.2 Safari/532.10.4  Firefighter                              1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:6.0; en-US) AppleWebKit/533.45.4 (KHTML, like Gecko) Version/4.1 Safari/533.45.4    Broadcast presenter                      1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) AppleWebKit/5321 (KHTML, like Gecko) Chrome/14.0.824.0 Safari/5321                    Development worker, international aid    1
                                                                                                                                                                             ..
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.186 Version/12.00                                                                     Company secretary                        1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.172 Version/12.00                                                                   Dramatherapist                           1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.176 Version/10.00                                                                   Private music teacher                    1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.164 Version/10.00                                                                   Hotel manager                            1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.190 Version/11.00                                                                   Scientist, forensic                      1
Name: Lot, Length: 9989, dtype: int64

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [21]:
conditions = [
    (df['Purchase Price'] > 50),
    (df['Purchase Price'] > 100),
    (df['Purchase Price'] <= 50),
    ]
values = [
    df['Purchase Price'] + df['Purchase Price'] * (2/10), 
    df['Purchase Price'] + df['Purchase Price'] * (1/10),
    df['Purchase Price'] + df['Purchase Price'] * (3/10),
     ]
df['Actual price'] = np.select(conditions, values)

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [22]:
df["Rank"] = df[["Language", "Actual price"]].apply(tuple,axis=1)\
             .rank(method='dense',ascending=False).astype(int)

df.sort_values("Rank")

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,year_valid,domain,Actual price,Rank
4235,"1479 Vazquez Motorway\nNorth Mark, ME 98122",09 Pm,PM,Mozilla/5.0 (Windows; U; Windows CE) AppleWebK...,Taylor-Hernandez,4365348893985105,07/23,965,Maestro,tonya79@perez.com,Purchasing manager,140.36.137.61,zh,99.61,23,perez.com,119.532,1
6205,51591 Robinson Terrace Suite 057\nLake Brendaf...,97 Cf,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_9...,Phillips LLC,676332128484,01/19,254,VISA 16 digit,dannyclark@hebert.org,Prison officer,94.22.150.127,zh,99.43,19,hebert.org,119.316,2
5498,"PSC 6312, Box 6695\nAPO AP 67868-1213",09 an,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5332...,Ferguson-Newman,3112374849244387,08/25,596,Maestro,devon84@yahoo.com,Systems analyst,27.227.251.250,zh,99.26,25,yahoo.com,119.112,3
7319,"085 Lindsey Common\nNorth Annefort, CA 34213-1469",17 Yb,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Davis, Smith and Horn",4035283508505354,11/23,388,Diners Club / Carte Blanche,brownsarah@gmail.com,Animator,70.85.86.203,zh,99.12,23,gmail.com,118.944,4
8951,"807 Veronica Greens Apt. 643\nWest Joelstad, W...",22 Pj,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,Simon-Brown,6011933482559693,03/25,362,Voyager,yrios@bryant-lawson.com,"Engineer, manufacturing",225.18.186.10,zh,98.98,25,bryant-lawson.com,118.776,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,"35839 Harding Cliff\nNorth Nancy, KY 69599",45 yU,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,Carpenter and Sons,4197785582926169,07/26,6639,Discover,ryandaniel@bird-mckinney.com,International aid/development worker,108.226.212.60,de,0.49,26,bird-mckinney.com,0.637,9495
8429,Unit 4027 Box 0841\nDPO AA 66939-4398,69 ro,AM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5361 ...,Aguilar-Jones,4517471815158,06/18,838,JCB 16 digit,cunninghamemily@hotmail.com,"Development worker, international aid",249.9.4.137,de,0.41,18,hotmail.com,0.533,9496
1154,"58903 Tammy Knolls Suite 270\nBryantbury, VA 4...",34 PH,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_6 ...,Williams-Torres,30250854692733,05/26,976,JCB 16 digit,kylefrost@hancock.org,Systems developer,69.174.252.220,de,0.20,26,hancock.org,0.260,9497
550,Unit 9279 Box 5039\nDPO AP 86638,40 Ai,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_1;...,Roberts LLC,180054117657378,01/25,304,Voyager,heatherpham@hotmail.com,"Research officer, government",118.191.31.116,de,0.03,25,hotmail.com,0.039,9498
2783,"402 Joseph Tunnel Apt. 219\nMartinmouth, DE 58480",46 Yg,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Wagner Group,4720459683484280,08/21,866,Mastercard,emilypotter@yahoo.com,IT trainer,69.92.84.253,de,0.02,21,yahoo.com,0.026,9499

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [23]:
df['Language'] = df['Language'].rank(method='dense',ascending=True).astype(int)

In [25]:
df.rename(
    columns=({ 'Language': 'LngId'}), 
    inplace=True,
)
df.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,LngId,Purchase Price,year_valid,domain,Actual price,Rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,2,98.14,20,yahoo.com,117.768,7367
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,5,70.73,18,reed.com,84.876,4500

Кінцевий набір даних збережіть у файл з розширенням csv.

In [36]:
df.to_csv('Ecommerce Purchases N.cvs', index=False, header=True)