___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [30]:
pip install requests

Requirement already satisfied: requests in c:\users\lidao\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lidao\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\lidao\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lidao\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lidao\anaconda3\lib\site-packages (from requests) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import requests

site = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?valcode=USD&json'

r = requests.get(site)

if r.status_code == 200:
    data = r.json()

2. Отримати курс долара за останній рік.

In [ ]:

from datetime import date, datetime, timedelta
import requests

db = []
d = date(2021,1,1)

for i in range(365):
    
    site = f'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?valcode=USD&date={d.strftime("%Y%m%d")}&json'
    r = requests.get(site)

    if r.status_code == 200:
        data = r.json()
        for currency in data:
            tmp = [currency['exchangedate'], currency['rate']]
            db.append(tmp)
        
    d -= timedelta(days=1)

  
 
#print(db)

In [96]:
test=db[0:4]

print(test)

test2 = test[:][1]
type(test2)


#summ_s = sum(test)

#mnth = ['01.01.2021', '01.12.2020']

#test2= test[mnth][:]

[['01.01.2021', 28.2746], ['31.12.2020', 28.2746], ['30.12.2020', 28.2605], ['29.12.2020', 28.3668]]

list

3. Вивести середнє значення та відхилення курсу за кожний місяць.

Вітання, це завдання мені не вдалося виконати через брак часу. Якщо буде можливість його доробити пізніше -- буду дуже вдячна.

4. Дану інформацію записати у файл за допомогою pickle.

Нажаль, це завдання мені не вдалося виконати через брак часу. Якщо буде можливість його доробити пізніше -- буду дуже вдячна.

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [80]:
import requests
from bs4 import BeautifulSoup
site = 'https://smallpacking.agrosem.ua/shop/'
HEADERS = {
             'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
             'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
             'Accept-Language': 'ua-UA,en;q=0.5',
             'Accept-Encoding': 'gzip, deflate',
             'DNT': '1',
             'Connection': 'keep-alive',
             'Upgrade-Insecure-Requests': '1'
         }
r = requests.get(site, headers = HEADERS)
soup = BeautifulSoup(r.text, 'lxml')

        
product = soup.find_all('span', class_ ="pruduct-name-bottom")
price = soup.find_all('span', class_="regular-price")

DB = {}
for teg in soup.find_all('div', class_= "product-from-category"):
    for el1 in soup.find_all('span', class_ ="pruduct-name-bottom"):
         for el2 in soup.find_all('span', class_="regular-price"):
            product = el1.text
            price = el2.text
            DB[product] = {price}

print(DB)

{'Ferticare Hydro 6-14-30 + micro': {'14 700 грн'}, 'Ferticare Kombi 14-11-25 + micro': {'14 700 грн'}, 'MagPlon K (нітрат калію)': {'14 700 грн'}, 'Pulan 34.4': {'14 700 грн'}, 'Saletrosan®26': {'14 700 грн'}, 'Saletrosan®30': {'14 700 грн'}, 'Saletrzak 27 macro': {'14 700 грн'}, 'Siarczan AS 21 Macro': {'14 700 грн'}, 'Yara Liva Кальциніт': {'14 700 грн'}, 'Yara Liva Нітрабор': {'14 700 грн'}, 'YaraBela Сульфан': {'14 700 грн'}, 'YaraIrix': {'14 700 грн'}, 'YaraMila Complex 12-11-18': {'14 700 грн'}, 'YaraMila Cropcare 11-11-21': {'14 700 грн'}, 'YaraMila NP 20-20 +9,0SO3': {'14 700 грн'}, 'YaraMila NPK 12-24-12': {'14 700 грн'}}

Аналогічно, це завдання мені не вдалося виконати через брак часу. Якщо буде можливість його доробити пізніше -- буду дуже вдячна.

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [41]:
import sqlite3
con = sqlite3.connect("tysql.sqlite")
cur = con.cursor()
print(con)

<sqlite3.Connection object at 0x0000018277BC65D0>

2. Виведіть перелік всіх таблиць.

In [46]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT name from sqlite_master where type= 'table' "):
    print(row)
conn.close()

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

3. Список всіх cust_id з таблиці Customers table.

In [47]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT cust_id from Customers"):
    print(row)
conn.close()

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

4. Всю таблицю Customers table

In [48]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT * from Customers"):
    print(row)
conn.close()

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [52]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT cust_name from Customers ORDER BY cust_name ASC"):
    print(row)
conn.close()

('Fun4All',)
('Fun4All',)
('Kids Place',)
('The Toy Store',)
('Village Toys',)

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [64]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT DISTINCT Customers.cust_id, order_num FROM Customers INNER JOIN Orders ORDER BY Customers.cust_id ASC, order_num DESC"):
    print(row)
conn.close()

('1000000001', 20009)
('1000000001', 20008)
('1000000001', 20007)
('1000000001', 20006)
('1000000001', 20005)
('1000000002', 20009)
('1000000002', 20008)
('1000000002', 20007)
('1000000002', 20006)
('1000000002', 20005)
('1000000003', 20009)
('1000000003', 20008)
('1000000003', 20007)
('1000000003', 20006)
('1000000003', 20005)
('1000000004', 20009)
('1000000004', 20008)
('1000000004', 20007)
('1000000004', 20006)
('1000000004', 20005)
('1000000005', 20009)
('1000000005', 20008)
('1000000005', 20007)
('1000000005', 20006)
('1000000005', 20005)

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [65]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT DISTINCT quantity, item_price FROM OrderItems ORDER BY quantity DESC, item_price DESC"):
    print(row)
conn.close()

(250, 2.49)
(100, 10.99)
(100, 5.49)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 11.99)
(10, 8.99)
(10, 3.49)
(5, 11.99)
(5, 4.99)

8. Товар (з таблиці Products), ціна якого становить 9.49

In [66]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT prod_name FROM Products WHERE prod_price = 9.49"):
    print(row)

('King doll',)
('Queen doll',)

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [68]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT prod_name, prod_price FROM Products WHERE  3 < prod_price < 6 ORDER BY prod_price ASC"):
    print(row)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)
('12 inch teddy bear', 8.99)
('King doll', 9.49)
('Queen doll', 9.49)
('18 inch teddy bear', 11.99)

10. Кількість товару, що було продано

In [69]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT SUM(order_item) FROM OrderItems "):
    print(row)

(45,)

11. Кількість найменувань товару, ціна якого більша за 4

In [17]:
import sqlite3
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT COUNT(prod_name) FROM Products WHERE prod_price > 4"):
    print('Кількість найменувань товару, де ціна вища 4', row)

Кількість найменувань товару, де ціна вища 4 (6,)

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [6]:
import sqlite3
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT prod_price FROM Products ORDER BY prod_price DESC LIMIT 3"):
    print('Найдорожчий товар', row)

Найдорожчий товар (11.99,)
Найдорожчий товар (9.49,)
Найдорожчий товар (9.49,)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [27]:
import sqlite3
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT cust_name, (SELECT COUNT(order_num) FROM Orders WHERE Customers.cust_id = Orders.cust_id) FROM Customers "):
    print( row)

('Village Toys', 2)
('Kids Place', 0)
('Fun4All', 1)
('Fun4All', 1)
('The Toy Store', 1)

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [36]:
import sqlite3
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT DISTINCT order_num, cust_name,  order_date FROM Customers JOIN Orders ON   Customers.cust_id = Orders.cust_id ORDER BY cust_name "):
    print('Клієнт та його замовлення:', row)

Клієнт та його замовлення: (20006, 'Fun4All', '2012-01-12')
Клієнт та його замовлення: (20007, 'Fun4All', '2012-01-30')
Клієнт та його замовлення: (20008, 'The Toy Store', '2012-02-03')
Клієнт та його замовлення: (20005, 'Village Toys', '2012-05-01')
Клієнт та його замовлення: (20009, 'Village Toys', '2012-02-08')

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [39]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
for row in cur.execute("SELECT prod_name, prod_price FROM Products WHERE prod_price < 5 UNION SELECT prod_name, prod_price FROM Products WHERE prod_price = 5 "):
    print('Товари та ціни:', row)
conn.close()

Товари та ціни: ('Bird bean bag toy', 3.49)
Товари та ціни: ('Fish bean bag toy', 3.49)
Товари та ціни: ('Rabbit bean bag toy', 3.49)
Товари та ціни: ('Raggedy Ann', 4.99)

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

Тут розміщено перелік 27 виконаних завдань з бази http://www.sql-ex.ru/

In [ ]:
1.вивести модель, швидкість, розмір ПК, ціна яких менше 500 доларів

SELECT model, speed, hd
FROM pc
WHERE price < 500

2.Найдите производителей принтеров.
SELECT DISTINCT maker 
FROM Product 
WHERE type = 'printer'

3.Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

SELECT model, ram, screen
FROM Laptop
WHERE price > 1000

4.Найдите все записи таблицы Printer для цветных принтеров.
SELECT * FROM Printer
WHERE color = 'y'

5.#айдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.
SELECT model, speed, hd
FROM PC
WHERE (cd = '12x' OR cd = '24x') AND price < 600

6.Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.
SELECT DISTINCT maker, speed
FROM Product RIGHT JOIN Laptop
ON Product.model=Laptop.model
WHERE hd >= 10


7.Найдите номера моделей и цены всех имеющихся в продаже продуктов (любого типа) производителя B (латинская буква).
SELECT a.model, price 
FROM (SELECT model, price 
 FROM PC 
 UNION
 SELECT model, price 
  FROM Laptop
 UNION
 SELECT model, price 
 FROM Printer
 ) AS a JOIN 
 Product p ON a.model = p.model
WHERE p.maker = 'B';

8.Найдите производителя, выпускающего ПК, но не ПК-блокноты.
SELECT maker FROM Product
WHERE type = 'PC' 
EXCEPT
SELECT maker FROM Product 
WHERE type = 'laptop';

9.Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker
SELECT DISTINCT maker
FROM Product RIGHT JOIN PC
ON Product.model = PC.model
WHERE speed >= 450

10.Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price
SELECT DISTINCT model, price
FROM Printer
WHERE price = (SELECT MAX(price) 
 FROM Printer)
 
11. Найдите среднюю скорость ПК.
 SELECT AVG(speed) AS Avg_speed 
FROM PC

12.SELECT AVG(speed) AS Avg_speed 
FROM PC
SELECT AVG(speed) AS Avg_speed 
FROM Laptop
WHERE price > 1000

13.Найдите среднюю скорость ПК, выпущенных производителем A.
SELECT AVG(speed) AS Avg_speed 
FROM Product RIGHT JOIN PC 
ON Product.model = PC.model
WHERE maker = 'A'

14.Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.
SELECT DISTINCT Ships.class, name, country
FROM Ships INNER JOIN Classes 
ON  Ships.class = Classes.class 
WHERE numGuns >= 10

15.Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD
SELECT hd FROM PC
GROUP BY hd
HAVING COUNT(hd) > 1




16.Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM.
SELECT MAX(model) AS 'model', MIN(model) AS 'model', speed, ram
FROM PC
GROUP BY speed, ram
HAVING MAX(model) > MIN(model)

17.Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК.
Вывести: type, model, speed
SELECT DISTINCT p.type, l.model, l.speed
FROM Product p, Laptop l, PC c
WHERE l.speed < (SELECT MIN (speed) FROM PC ) AND p.type = 'laptop'
	  
18.Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price
SELECT c.maker, a.price 
FROM (SELECT MIN(price) AS price
      FROM Printer 
      WHERE color ='y') 
a INNER JOIN 
      Printer b ON a.price = b.price INNER JOIN 
      Product c ON b.model = c.model

19.Для каждого производителя, имеющего модели в таблице Laptop, найдите средний размер экрана выпускаемых им ПК-блокнотов.
Вывести: maker, средний размер экрана.
SELECT DISTINCT maker,  AVG(screen) AS Avg_screen
FROM Product INNER JOIN Laptop
ON Product.model = Laptop.model
GROUP BY maker

20.Найдите производителей, выпускающих по меньшей мере три различных модели ПК. Вывести: Maker, число моделей ПК.
SELECT DISTINCT maker, COUNT(model) AS Count_Model 
FROM Product
WHERE type = 'PC'
GROUP BY maker
HAVING COUNT(model) >= 3

21.Найдите максимальную цену ПК, выпускаемых каждым производителем, у которого есть модели в таблице PC.
Вывести: maker, максимальная цена.
SELECT DISTINCT maker, MAX(price) AS Max_price
FROM Product INNER JOIN PC
ON Product.model = PC.model
GROUP BY maker

22. Для каждого значения скорости ПК, превышающего 600 МГц, определите среднюю цену ПК с такой же скоростью. Вывести: speed, средняя цена.
SELECT speed, AVG(price) AS Avg_price
FROM PC
WHERE speed > 600
GROUP BY speed

23. Найдите производителей, которые производили бы как ПК
со скоростью не менее 750 МГц, так и ПК-блокноты со скоростью не менее 750 МГц.
Вывести: Maker
SELECT DISTINCT maker 
FROM product 
WHERE model IN (SELECT model FROM PC 
 WHERE speed >= 750) OR 
 model IN (SELECT model 
 FROM Laptop WHERE speed >= 750)
 
 24. Перечислите номера моделей любых типов, имеющих самую высокую цену по всей имеющейся в базе данных продукции.
SELECT DISTINCT model
 FROM (SELECT  model, price 
      FROM PC
      WHERE price = (SELECT MAX(price) FROM PC)
      UNION
      SELECT  model,  price 
      FROM Laptop
      WHERE price = (SELECT MAX(price) 
                     FROM Laptop)
      UNION
      SELECT  model,  price 
      FROM Printer
      WHERE price = (SELECT MAX(price) 
                     FROM Printer)
      ) T
WHERE price = (SELECT MAX(price) 
               FROM Laptop) 
 25.
SELECT DISTINCT maker
FROM Product 
WHERE type = 'printer' AND 
      maker IN(SELECT maker 
      FROM Product 
      WHERE model IN(SELECT model 
      FROM PC
      WHERE speed = (SELECT MAX(speed)
      FROM (SELECT speed 
      FROM PC 
      WHERE ram=(SELECT MIN(ram)
      FROM PC)) AS z4
      )
      )
      )
27. 
FROM (SELECT PC.hd, Product.maker 
      FROM PC INNER JOIN 
           Product ON PC.model = Product.model
      WHERE Product.maker IN (SELECT Product1.maker 
      FROM Product Product1  INNER JOIN 
      Printer ON Product1.model = Printer.model 
      GROUP BY Product1.maker
                              )
      ) AS result
GROUP BY result.maker;

  
 
 28. Используя таблицу Product, определить количество производителей, выпускающих по одной модели.
SELECT COUNT(Maker) AS qty
FROM Product
GROUP BY Maker
HAVING COUNT(model) = 1